# ==============================================================================
# GENERAL CONFIGURATION
# ==============================================================================
APP_ENV=development

# ==============================================================================
# DATABASE (POSTGRESQL)
# ==============================================================================
POSTGRES_VERSION=15-alpine
POSTGRES_USER=root
POSTGRES_PASSWORD=rootpassword
POSTGRES_DB=flashsale_master
DB_HOST=localhost
DB_HOST_BIND=127.0.0.1
DB_PORT=15432

# ==============================================================================
# CACHE (REDIS)
# ==============================================================================
REDIS_VERSION=7-alpine
REDIS_HOST=localhost
REDIS_HOST_BIND=127.0.0.1
REDIS_PORT=16379

# ==============================================================================
# MESSAGE BROKER (KAFKA)
# ==============================================================================
KAFKA_VERSION=3.5.1
KAFKA_HOST=localhost
KAFKA_PORT=19092
KAFKA_EXTERNAL_PORT=19094
KAFKA_UI_PORT=18080
KAFKA_HOST_BIND=127.0.0.1
# Gunakan 'localhost' di laptop lokal, atau IP Publik VPS di Alibaba Cloud VPS
KAFKA_PUBLIC_IP_OR_HOST=localhost

# ==============================================================================
# OBSERVABILITY (JAEGER)
# ==============================================================================
JAEGER_VERSION=latest
JAEGER_HOST=localhost
JAEGER_HOST_BIND=127.0.0.1
JAEGER_UI_PORT=16686
JAEGER_OTLP_GRPC_PORT=14317
JAEGER_OTLP_HTTP_PORT=14318

# ==============================================================================
# REVERSE PROXY (NGINX)
# ==============================================================================
NGINX_VERSION=alpine
NGINX_HOST_BIND=127.0.0.1
NGINX_PORT=18081

# ==============================================================================
# MICROSERVICES CONFIGURATION (GRPC / HTTP PORTS)
# ==============================================================================
API_GATEWAY_PORT=18000
PRODUCT_SERVICE_PORT=19001
INVENTORY_SERVICE_PORT=19002
PAYMENT_SERVICE_PORT=19003

# Downstream endpoints used by API Gateway to call backend services
PRODUCT_SERVICE_ENDPOINT=localhost:19001
INVENTORY_SERVICE_ENDPOINT=localhost:19002
PAYMENT_SERVICE_ENDPOINT=localhost:19003
